/* portrait */
nav {
	width: 100%;
	height: 64px;
	background-color: rgba(255, 255, 255, .95);
	position: fixed;
	z-index: 10;
	box-shadow: 0 0 5px 0 rgb(0 0 0 / 25%);
	font-family: sans-serif;
}
nav ul {
	width: 80%;
	margin: 0 0 0 0;
	overflow: hidden;
	list-style: none;
	padding: unset;
	float: left;
}
nav li {
	height: 64px;
	float: left;
	text-align: center;
	cursor: pointer;
	padding: 0 2.5% 0 2.5%;
}
nav a {
	color: rgb(0, 0, 0);
	text-decoration: none;
	font-size: 16px;
	font-weight: 500;
	line-height: 64px;
	display: block;
}
.up {
	top: 0;
	transition: 0.4s ease;
}
.down {
	top: -64px;
	transition: 0.1s ease;
}

.trg {
	width: 14px;
	transition: .4s;
}
.trg.hide {
	transform: rotate(0deg);
}
.trg.show {
	transform: rotate(180deg);
}
.blur {
	width: 100%;
	height: 100%;
	z-index: 3;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(255, 255, 255, .0);
	display: block;
}
.blur.hide {
	background-color: rgba(255, 255, 255, .0);
	transition: 0s;
	z-index: -1;
}
.blur.show {
	background-color: rgba(255, 255, 255, .6);
	transition: .3s;
	z-index: 3;
}
.link_box {
	width: 50vw;
	height: 450px;
	z-index: 8;
	position: fixed;
	top: 64px;
	left: 20px;
	background-color: white;
	transition: .4s;
}
.link_box.hide {
	top: -450px;
}
.link_box.show {
	top: 64px;
}
.box_image {
	height: 100%;
	width: 70%;
	position: relative;
	background-size: cover;
	float: left;
	z-index: 8;
}
.box_links {
	height: 100%;
	width: 30%;
	position: relative;
	float: left;
	z-index: 8;
	background-color: white;
}
.box_link {
	width: 90%;
	height: 45px;
	line-height: 45px;
	float: right;
	font-size: 1.2vw;
	font-weight: bolder;
	display: block;
	cursor: pointer;
	text-decoration: none;
	z-index: 8;
}
.child {
	width: 25vw;
	height: 100%;
	background-color: green;
	z-index: 6;
	position: absolute;
	top: 0;
	left: 25vw;
}
.child.hide {
	left: 25vw;
	transition: 0s;
}
.child.show {
	left: 50vw;
	transition: .4s;
}

/* landscape */
.menu_land {
	width: 100%;
	height: 400px;
	position: fixed;
	top: -400px;
}
@media (orientation: portrait){
	/* 縦長 */
	nav > img, ul {
		display: none;
	}
}
@media (orientation: landscape){
	/* 横長 */
}
