/* landscape */
nav {
	width: 100%;
	background-color: rgba(255, 255, 255, .95);
	position: fixed;
	z-index: 10;
	box-shadow: 0 0 5px 0 rgb(0 0 0 / 25%);
	font-family: sans-serif;
}
.ham {
	float: right;
}
ul {
	list-style: none;
	padding: 0;
	margin-top: 6vh;
}
ul > li > a {
	margin: 0 auto 0;
	width: 80vw;
	display: flex;
	height: 8vh;
	align-items: center;
	font-size: 2.5vh;
	text-decoration: none;
	color: rgb(0, 0, 0);
	border-bottom: 1px solid rgb(0, 0, 0);
}
ul > li:first-child {
	border-top: 1px solid rgb(0, 0, 0);
}
ul > li:last-child {
	border-bottom: 1px solid rgb(0, 0, 0);
}
.li_e {
	flex-shrink: 0;
	margin: 0 3vw 0;
}
.li_bar {
	background-color: rgb(0, 0, 0);
	border: 0;
	width: 100%;
	height: 1px;
}
.li_j {
	flex-shrink: 0;
	margin: 0 3vw 0;
}
.menu_land {
	width: 100%;
	position: fixed;
	background-color: rgb(255, 255, 255);
	transition: .4s ease-out;
	z-index: 5;
	box-shadow: 0 0 5px 0 rgb(0 0 0 / 25%);
	clip-path: inset(0 0 100% 0);
}
.menu_land.open {
	clip-path: inset(0 0 0 0);
}
#menu-inp {
	display: none;
}
@media (orientation: portrait){
	/* 縦長 */
	nav {
		height: 7vh;
	}
	.ham {
		height: 4vh;
		margin: 1.5vh;
	}
	.menu_land {
		top: 7vh;
		height: calc(100vh - 7vh);
	}
}
@media (orientation: landscape){
	/* 横長 */
	nav {
		height: 64px;
	}
	.ham {
		height: 45px;
		margin: 9.5px 2.5% 9.5px 2%;
	}
	.menu_land {
		top: 64px;
		height: calc(100vh - 64px);
	}
}
